.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(left , rgb(205, 3, 5) 1% , rgb(0, 0, 0) 1% , rgb(95, 188, 38) 11% , rgb(190, 190, 228) 12% , rgb(85, 29, 242) 20% , rgb(196, 2, 180) 27% , rgb(71, 217, 62) 40% , rgb(38, 175, 129) 46% , rgb(137, 186, 58) 48% , rgb(15, 215, 190) 53% , rgb(201, 73, 151) 57% , rgb(118, 254, 8) 60% , rgb(58, 209, 47) 62% , rgb(17, 215, 209) 73% , rgb(219, 111, 130) 75% , rgb(122, 15, 202) 79% , rgb(0, 0, 0) 80% , rgb(31, 191, 53) 81%);
background: -o-linear-gradient(left , rgb(205, 3, 5) 1% , rgb(0, 0, 0) 1% , rgb(95, 188, 38) 11% , rgb(190, 190, 228) 12% , rgb(85, 29, 242) 20% , rgb(196, 2, 180) 27% , rgb(71, 217, 62) 40% , rgb(38, 175, 129) 46% , rgb(137, 186, 58) 48% , rgb(15, 215, 190) 53% , rgb(201, 73, 151) 57% , rgb(118, 254, 8) 60% , rgb(58, 209, 47) 62% , rgb(17, 215, 209) 73% , rgb(219, 111, 130) 75% , rgb(122, 15, 202) 79% , rgb(0, 0, 0) 80% , rgb(31, 191, 53) 81%);
background: -ms-linear-gradient(left , rgb(205, 3, 5) 1% , rgb(0, 0, 0) 1% , rgb(95, 188, 38) 11% , rgb(190, 190, 228) 12% , rgb(85, 29, 242) 20% , rgb(196, 2, 180) 27% , rgb(71, 217, 62) 40% , rgb(38, 175, 129) 46% , rgb(137, 186, 58) 48% , rgb(15, 215, 190) 53% , rgb(201, 73, 151) 57% , rgb(118, 254, 8) 60% , rgb(58, 209, 47) 62% , rgb(17, 215, 209) 73% , rgb(219, 111, 130) 75% , rgb(122, 15, 202) 79% , rgb(0, 0, 0) 80% , rgb(31, 191, 53) 81%);
background: -moz-linear-gradient(left , rgb(205, 3, 5) 1% , rgb(0, 0, 0) 1% , rgb(95, 188, 38) 11% , rgb(190, 190, 228) 12% , rgb(85, 29, 242) 20% , rgb(196, 2, 180) 27% , rgb(71, 217, 62) 40% , rgb(38, 175, 129) 46% , rgb(137, 186, 58) 48% , rgb(15, 215, 190) 53% , rgb(201, 73, 151) 57% , rgb(118, 254, 8) 60% , rgb(58, 209, 47) 62% , rgb(17, 215, 209) 73% , rgb(219, 111, 130) 75% , rgb(122, 15, 202) 79% , rgb(0, 0, 0) 80% , rgb(31, 191, 53) 81%);
background: -webkit-linear-gradient(left , rgb(205, 3, 5) 1% , rgb(0, 0, 0) 1% , rgb(95, 188, 38) 11% , rgb(190, 190, 228) 12% , rgb(85, 29, 242) 20% , rgb(196, 2, 180) 27% , rgb(71, 217, 62) 40% , rgb(38, 175, 129) 46% , rgb(137, 186, 58) 48% , rgb(15, 215, 190) 53% , rgb(201, 73, 151) 57% , rgb(118, 254, 8) 60% , rgb(58, 209, 47) 62% , rgb(17, 215, 209) 73% , rgb(219, 111, 130) 75% , rgb(122, 15, 202) 79% , rgb(0, 0, 0) 80% , rgb(31, 191, 53) 81%);






}