.theme_bg

{

	background-image:none;

	background-repeat:no-repeat;

	background-size:cover;	

	background: linear-gradient(right , rgb(205, 3, 5) 1% , rgb(0, 0, 0) 1% , rgb(95, 188, 38) 11% , rgb(85, 29, 242) 20% , rgb(155, 6, 11) 25% , rgb(196, 2, 180) 27% , rgb(157, 192, 128) 34% , rgb(252, 169, 126) 36% , rgb(71, 217, 62) 40% , rgb(38, 175, 129) 46% , rgb(15, 215, 190) 53% , rgb(201, 73, 151) 57% , rgb(230, 203, 1) 83% , rgb(137, 186, 58) 94% , rgb(190, 190, 228) 98% , rgb(122, 15, 202) 100%);
background: -o-linear-gradient(right , rgb(205, 3, 5) 1% , rgb(0, 0, 0) 1% , rgb(95, 188, 38) 11% , rgb(85, 29, 242) 20% , rgb(155, 6, 11) 25% , rgb(196, 2, 180) 27% , rgb(157, 192, 128) 34% , rgb(252, 169, 126) 36% , rgb(71, 217, 62) 40% , rgb(38, 175, 129) 46% , rgb(15, 215, 190) 53% , rgb(201, 73, 151) 57% , rgb(230, 203, 1) 83% , rgb(137, 186, 58) 94% , rgb(190, 190, 228) 98% , rgb(122, 15, 202) 100%);
background: -ms-linear-gradient(right , rgb(205, 3, 5) 1% , rgb(0, 0, 0) 1% , rgb(95, 188, 38) 11% , rgb(85, 29, 242) 20% , rgb(155, 6, 11) 25% , rgb(196, 2, 180) 27% , rgb(157, 192, 128) 34% , rgb(252, 169, 126) 36% , rgb(71, 217, 62) 40% , rgb(38, 175, 129) 46% , rgb(15, 215, 190) 53% , rgb(201, 73, 151) 57% , rgb(230, 203, 1) 83% , rgb(137, 186, 58) 94% , rgb(190, 190, 228) 98% , rgb(122, 15, 202) 100%);
background: -moz-linear-gradient(right , rgb(205, 3, 5) 1% , rgb(0, 0, 0) 1% , rgb(95, 188, 38) 11% , rgb(85, 29, 242) 20% , rgb(155, 6, 11) 25% , rgb(196, 2, 180) 27% , rgb(157, 192, 128) 34% , rgb(252, 169, 126) 36% , rgb(71, 217, 62) 40% , rgb(38, 175, 129) 46% , rgb(15, 215, 190) 53% , rgb(201, 73, 151) 57% , rgb(230, 203, 1) 83% , rgb(137, 186, 58) 94% , rgb(190, 190, 228) 98% , rgb(122, 15, 202) 100%);
background: -webkit-linear-gradient(right , rgb(205, 3, 5) 1% , rgb(0, 0, 0) 1% , rgb(95, 188, 38) 11% , rgb(85, 29, 242) 20% , rgb(155, 6, 11) 25% , rgb(196, 2, 180) 27% , rgb(157, 192, 128) 34% , rgb(252, 169, 126) 36% , rgb(71, 217, 62) 40% , rgb(38, 175, 129) 46% , rgb(15, 215, 190) 53% , rgb(201, 73, 151) 57% , rgb(230, 203, 1) 83% , rgb(137, 186, 58) 94% , rgb(190, 190, 228) 98% , rgb(122, 15, 202) 100%);






}