

.theme_bg{

	background:#22a201;

	min-width:320px;

	background-size:100% ;

	background-position: top center;

}

.logo{

	padding-top:28%;

	transition:all ease .3s;

	margin: 0 auto;

}



.ui-footer {

    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;

    border-bottom-width: 0;

    border-left-width: 0;

    border-right-width: 0;

    border-top: medium none !important;

}

.owl-demo .item{

	width:70px;

	height:70px;

	display:table-cell;

	/*background:url(../images/icon_bg.png) no-repeat;*/

	vertical-align:middle;

	text-align:center;

}

.ui-header{

	background:url("../images/header_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0) !important;

	border:none !important;

	border-bottom:none !important;

	

}

.ui-header a{

	box-shadow:none;

}

.ui-header .ui-title, .ui-footer .ui-title{

	text-shadow:none !important;

	color:#fff !important;

	font-size:24px;

	font-weight:normal;

	margin:0 23%;

}

.ui-icon-customrefresh:after {

	background-image: url("../images/refresh_icon.png");

	

}

.ui-icon-customrefresh:after{

	background-color:none;

	border:none;

	border-radius:none;

	height:42px;

	width:42px;

}

.ui-header .ui-btn-icon-notext{

	margin-top:11px;

}

.refresh_link,.help_link{

	border:none !important;

	background:none !important;

}

.refresh_link:hover,.refresh_link:active,.refresh_link:focus,.help_link:focus,.help_link:hover,.help_link:active{

	box-shadow:none !important;

}





/* custom setting of icons */

.app_feature_list a img{

	max-height:32px;

	max-width:32px;

}

.theme_bg
{
	background-image:none;
	background-repeat:no-repeat;
	background-size:cover;	
	background: linear-gradient(left , rgb(153, 157, 248) , rgb(0, 0, 0) 1% , rgb(134, 130, 124) 1% , rgb(38, 71, 182) 2% , rgb(118, 50, 52) 3% , rgb(93, 44, 44) 4% , rgb(161, 216, 75) 5% , rgb(80, 177, 188) 6% , rgb(168, 107, 20) 6% , rgb(42, 183, 163) 7% , rgb(166, 117, 19) 8% , rgb(84, 0, 89) 9% , rgb(163, 46, 28) 10% , rgb(160, 147, 36) 11% , rgb(241, 213, 30) 12% , rgb(121, 147, 215) 12% , rgb(43, 110, 171) 13% , rgb(243, 92, 249) 14% , rgb(219, 111, 184) 15% , rgb(142, 181, 165) 16% , rgb(101, 159, 218) 17% , rgb(19, 151, 117) 18% , rgb(37, 222, 23) 19% , rgb(38, 92, 104) 20% , rgb(187, 45, 127) 21% , rgb(201, 73, 186) 22% , rgb(54, 177, 160) 23% , rgb(206, 77, 20) 24% , rgb(86, 114, 168) 24% , rgb(147, 220, 125) 25% , rgb(25, 161, 190) 26% , rgb(27, 124, 23) 27% , rgb(199, 154, 97) 28% , rgb(183, 16, 188) 29% , rgb(113, 18, 166) 29% , rgb(192, 145, 17) 30% , rgb(252, 175, 198) 31% , rgb(87, 78, 136) 32% , rgb(135, 212, 229) 33% , rgb(175, 193, 65) 33% , rgb(137, 71, 24) 34% , rgb(227, 173, 104) 35% , rgb(51, 4, 28) 36% , rgb(194, 201, 117) 37% , rgb(213, 130, 68) 38% , rgb(115, 234, 150) 39% , rgb(23, 74, 248) 40% , rgb(220, 216, 148) 41% , rgb(86, 138, 231) 42% , rgb(199, 3, 109) 43% , rgb(149, 215, 126) 44% , rgb(69, 184, 168) 45% , rgb(106, 230, 56) 46% , rgb(25, 67, 204) 46% , rgb(221, 233, 91) 47% , rgb(240, 207, 4) 48% , rgb(167, 175, 67) 49% , rgb(73, 172, 23) 50% , rgb(123, 106, 155) 51% , rgb(51, 140, 174) 52% , rgb(27, 205, 147) 53% , rgb(132, 4, 126) 54% , rgb(79, 6, 178) 55% , rgb(164, 172, 53) 56% , rgb(116, 173, 123) 57% , rgb(172, 140, 86) 58% , rgb(17, 2, 182) 59% , rgb(127, 127, 237) 60% , rgb(110, 245, 202) 61% , rgb(228, 167, 3) 62% , rgb(85, 222, 75) 63% , rgb(244, 222, 137) 64% , rgb(40, 148, 76) 65% , rgb(171, 90, 47) 66% , rgb(96, 90, 101) 67% , rgb(41, 216, 28) 68% , rgb(231, 168, 78) 69% , rgb(213, 142, 69) 70% , rgb(71, 23, 73) 71% , rgb(9, 81, 18) 72% , rgb(253, 184, 41) 73% , rgb(31, 5, 118) 74% , rgb(38, 221, 58) 75% , rgb(27, 137, 56) 76% , rgb(56, 245, 0) 77% , rgb(42, 167, 105) 78% , rgb(63, 21, 28) 79% , rgb(0, 0, 0) 80% , rgb(22, 74, 0) 80% , rgb(10, 232, 185) 81% , rgb(13, 223, 208) 82% , rgb(195, 11, 142) 83% , rgb(170, 184, 3) 83% , rgb(74, 31, 47) 84% , rgb(60, 107, 18) 85% , rgb(116, 184, 179) 86% , rgb(32, 45, 142) 87% , rgb(187, 237, 182) 88% , rgb(36, 100, 183) 89% , rgb(121, 220, 40) 90% , rgb(170, 216, 55) 91% , rgb(220, 113, 96) 92% , rgb(171, 75, 59) 93% , rgb(242, 220, 225) 94% , rgb(37, 49, 229) 95% , rgb(242, 52, 142) 96% , rgb(162, 19, 219) 96% , rgb(169, 156, 100) 97% , rgb(183, 27, 182) 98% , rgb(98, 228, 233) 99%);
background: -o-linear-gradient(left , rgb(153, 157, 248) , rgb(0, 0, 0) 1% , rgb(134, 130, 124) 1% , rgb(38, 71, 182) 2% , rgb(118, 50, 52) 3% , rgb(93, 44, 44) 4% , rgb(161, 216, 75) 5% , rgb(80, 177, 188) 6% , rgb(168, 107, 20) 6% , rgb(42, 183, 163) 7% , rgb(166, 117, 19) 8% , rgb(84, 0, 89) 9% , rgb(163, 46, 28) 10% , rgb(160, 147, 36) 11% , rgb(241, 213, 30) 12% , rgb(121, 147, 215) 12% , rgb(43, 110, 171) 13% , rgb(243, 92, 249) 14% , rgb(219, 111, 184) 15% , rgb(142, 181, 165) 16% , rgb(101, 159, 218) 17% , rgb(19, 151, 117) 18% , rgb(37, 222, 23) 19% , rgb(38, 92, 104) 20% , rgb(187, 45, 127) 21% , rgb(201, 73, 186) 22% , rgb(54, 177, 160) 23% , rgb(206, 77, 20) 24% , rgb(86, 114, 168) 24% , rgb(147, 220, 125) 25% , rgb(25, 161, 190) 26% , rgb(27, 124, 23) 27% , rgb(199, 154, 97) 28% , rgb(183, 16, 188) 29% , rgb(113, 18, 166) 29% , rgb(192, 145, 17) 30% , rgb(252, 175, 198) 31% , rgb(87, 78, 136) 32% , rgb(135, 212, 229) 33% , rgb(175, 193, 65) 33% , rgb(137, 71, 24) 34% , rgb(227, 173, 104) 35% , rgb(51, 4, 28) 36% , rgb(194, 201, 117) 37% , rgb(213, 130, 68) 38% , rgb(115, 234, 150) 39% , rgb(23, 74, 248) 40% , rgb(220, 216, 148) 41% , rgb(86, 138, 231) 42% , rgb(199, 3, 109) 43% , rgb(149, 215, 126) 44% , rgb(69, 184, 168) 45% , rgb(106, 230, 56) 46% , rgb(25, 67, 204) 46% , rgb(221, 233, 91) 47% , rgb(240, 207, 4) 48% , rgb(167, 175, 67) 49% , rgb(73, 172, 23) 50% , rgb(123, 106, 155) 51% , rgb(51, 140, 174) 52% , rgb(27, 205, 147) 53% , rgb(132, 4, 126) 54% , rgb(79, 6, 178) 55% , rgb(164, 172, 53) 56% , rgb(116, 173, 123) 57% , rgb(172, 140, 86) 58% , rgb(17, 2, 182) 59% , rgb(127, 127, 237) 60% , rgb(110, 245, 202) 61% , rgb(228, 167, 3) 62% , rgb(85, 222, 75) 63% , rgb(244, 222, 137) 64% , rgb(40, 148, 76) 65% , rgb(171, 90, 47) 66% , rgb(96, 90, 101) 67% , rgb(41, 216, 28) 68% , rgb(231, 168, 78) 69% , rgb(213, 142, 69) 70% , rgb(71, 23, 73) 71% , rgb(9, 81, 18) 72% , rgb(253, 184, 41) 73% , rgb(31, 5, 118) 74% , rgb(38, 221, 58) 75% , rgb(27, 137, 56) 76% , rgb(56, 245, 0) 77% , rgb(42, 167, 105) 78% , rgb(63, 21, 28) 79% , rgb(0, 0, 0) 80% , rgb(22, 74, 0) 80% , rgb(10, 232, 185) 81% , rgb(13, 223, 208) 82% , rgb(195, 11, 142) 83% , rgb(170, 184, 3) 83% , rgb(74, 31, 47) 84% , rgb(60, 107, 18) 85% , rgb(116, 184, 179) 86% , rgb(32, 45, 142) 87% , rgb(187, 237, 182) 88% , rgb(36, 100, 183) 89% , rgb(121, 220, 40) 90% , rgb(170, 216, 55) 91% , rgb(220, 113, 96) 92% , rgb(171, 75, 59) 93% , rgb(242, 220, 225) 94% , rgb(37, 49, 229) 95% , rgb(242, 52, 142) 96% , rgb(162, 19, 219) 96% , rgb(169, 156, 100) 97% , rgb(183, 27, 182) 98% , rgb(98, 228, 233) 99%);
background: -ms-linear-gradient(left , rgb(153, 157, 248) , rgb(0, 0, 0) 1% , rgb(134, 130, 124) 1% , rgb(38, 71, 182) 2% , rgb(118, 50, 52) 3% , rgb(93, 44, 44) 4% , rgb(161, 216, 75) 5% , rgb(80, 177, 188) 6% , rgb(168, 107, 20) 6% , rgb(42, 183, 163) 7% , rgb(166, 117, 19) 8% , rgb(84, 0, 89) 9% , rgb(163, 46, 28) 10% , rgb(160, 147, 36) 11% , rgb(241, 213, 30) 12% , rgb(121, 147, 215) 12% , rgb(43, 110, 171) 13% , rgb(243, 92, 249) 14% , rgb(219, 111, 184) 15% , rgb(142, 181, 165) 16% , rgb(101, 159, 218) 17% , rgb(19, 151, 117) 18% , rgb(37, 222, 23) 19% , rgb(38, 92, 104) 20% , rgb(187, 45, 127) 21% , rgb(201, 73, 186) 22% , rgb(54, 177, 160) 23% , rgb(206, 77, 20) 24% , rgb(86, 114, 168) 24% , rgb(147, 220, 125) 25% , rgb(25, 161, 190) 26% , rgb(27, 124, 23) 27% , rgb(199, 154, 97) 28% , rgb(183, 16, 188) 29% , rgb(113, 18, 166) 29% , rgb(192, 145, 17) 30% , rgb(252, 175, 198) 31% , rgb(87, 78, 136) 32% , rgb(135, 212, 229) 33% , rgb(175, 193, 65) 33% , rgb(137, 71, 24) 34% , rgb(227, 173, 104) 35% , rgb(51, 4, 28) 36% , rgb(194, 201, 117) 37% , rgb(213, 130, 68) 38% , rgb(115, 234, 150) 39% , rgb(23, 74, 248) 40% , rgb(220, 216, 148) 41% , rgb(86, 138, 231) 42% , rgb(199, 3, 109) 43% , rgb(149, 215, 126) 44% , rgb(69, 184, 168) 45% , rgb(106, 230, 56) 46% , rgb(25, 67, 204) 46% , rgb(221, 233, 91) 47% , rgb(240, 207, 4) 48% , rgb(167, 175, 67) 49% , rgb(73, 172, 23) 50% , rgb(123, 106, 155) 51% , rgb(51, 140, 174) 52% , rgb(27, 205, 147) 53% , rgb(132, 4, 126) 54% , rgb(79, 6, 178) 55% , rgb(164, 172, 53) 56% , rgb(116, 173, 123) 57% , rgb(172, 140, 86) 58% , rgb(17, 2, 182) 59% , rgb(127, 127, 237) 60% , rgb(110, 245, 202) 61% , rgb(228, 167, 3) 62% , rgb(85, 222, 75) 63% , rgb(244, 222, 137) 64% , rgb(40, 148, 76) 65% , rgb(171, 90, 47) 66% , rgb(96, 90, 101) 67% , rgb(41, 216, 28) 68% , rgb(231, 168, 78) 69% , rgb(213, 142, 69) 70% , rgb(71, 23, 73) 71% , rgb(9, 81, 18) 72% , rgb(253, 184, 41) 73% , rgb(31, 5, 118) 74% , rgb(38, 221, 58) 75% , rgb(27, 137, 56) 76% , rgb(56, 245, 0) 77% , rgb(42, 167, 105) 78% , rgb(63, 21, 28) 79% , rgb(0, 0, 0) 80% , rgb(22, 74, 0) 80% , rgb(10, 232, 185) 81% , rgb(13, 223, 208) 82% , rgb(195, 11, 142) 83% , rgb(170, 184, 3) 83% , rgb(74, 31, 47) 84% , rgb(60, 107, 18) 85% , rgb(116, 184, 179) 86% , rgb(32, 45, 142) 87% , rgb(187, 237, 182) 88% , rgb(36, 100, 183) 89% , rgb(121, 220, 40) 90% , rgb(170, 216, 55) 91% , rgb(220, 113, 96) 92% , rgb(171, 75, 59) 93% , rgb(242, 220, 225) 94% , rgb(37, 49, 229) 95% , rgb(242, 52, 142) 96% , rgb(162, 19, 219) 96% , rgb(169, 156, 100) 97% , rgb(183, 27, 182) 98% , rgb(98, 228, 233) 99%);
background: -moz-linear-gradient(left , rgb(153, 157, 248) , rgb(0, 0, 0) 1% , rgb(134, 130, 124) 1% , rgb(38, 71, 182) 2% , rgb(118, 50, 52) 3% , rgb(93, 44, 44) 4% , rgb(161, 216, 75) 5% , rgb(80, 177, 188) 6% , rgb(168, 107, 20) 6% , rgb(42, 183, 163) 7% , rgb(166, 117, 19) 8% , rgb(84, 0, 89) 9% , rgb(163, 46, 28) 10% , rgb(160, 147, 36) 11% , rgb(241, 213, 30) 12% , rgb(121, 147, 215) 12% , rgb(43, 110, 171) 13% , rgb(243, 92, 249) 14% , rgb(219, 111, 184) 15% , rgb(142, 181, 165) 16% , rgb(101, 159, 218) 17% , rgb(19, 151, 117) 18% , rgb(37, 222, 23) 19% , rgb(38, 92, 104) 20% , rgb(187, 45, 127) 21% , rgb(201, 73, 186) 22% , rgb(54, 177, 160) 23% , rgb(206, 77, 20) 24% , rgb(86, 114, 168) 24% , rgb(147, 220, 125) 25% , rgb(25, 161, 190) 26% , rgb(27, 124, 23) 27% , rgb(199, 154, 97) 28% , rgb(183, 16, 188) 29% , rgb(113, 18, 166) 29% , rgb(192, 145, 17) 30% , rgb(252, 175, 198) 31% , rgb(87, 78, 136) 32% , rgb(135, 212, 229) 33% , rgb(175, 193, 65) 33% , rgb(137, 71, 24) 34% , rgb(227, 173, 104) 35% , rgb(51, 4, 28) 36% , rgb(194, 201, 117) 37% , rgb(213, 130, 68) 38% , rgb(115, 234, 150) 39% , rgb(23, 74, 248) 40% , rgb(220, 216, 148) 41% , rgb(86, 138, 231) 42% , rgb(199, 3, 109) 43% , rgb(149, 215, 126) 44% , rgb(69, 184, 168) 45% , rgb(106, 230, 56) 46% , rgb(25, 67, 204) 46% , rgb(221, 233, 91) 47% , rgb(240, 207, 4) 48% , rgb(167, 175, 67) 49% , rgb(73, 172, 23) 50% , rgb(123, 106, 155) 51% , rgb(51, 140, 174) 52% , rgb(27, 205, 147) 53% , rgb(132, 4, 126) 54% , rgb(79, 6, 178) 55% , rgb(164, 172, 53) 56% , rgb(116, 173, 123) 57% , rgb(172, 140, 86) 58% , rgb(17, 2, 182) 59% , rgb(127, 127, 237) 60% , rgb(110, 245, 202) 61% , rgb(228, 167, 3) 62% , rgb(85, 222, 75) 63% , rgb(244, 222, 137) 64% , rgb(40, 148, 76) 65% , rgb(171, 90, 47) 66% , rgb(96, 90, 101) 67% , rgb(41, 216, 28) 68% , rgb(231, 168, 78) 69% , rgb(213, 142, 69) 70% , rgb(71, 23, 73) 71% , rgb(9, 81, 18) 72% , rgb(253, 184, 41) 73% , rgb(31, 5, 118) 74% , rgb(38, 221, 58) 75% , rgb(27, 137, 56) 76% , rgb(56, 245, 0) 77% , rgb(42, 167, 105) 78% , rgb(63, 21, 28) 79% , rgb(0, 0, 0) 80% , rgb(22, 74, 0) 80% , rgb(10, 232, 185) 81% , rgb(13, 223, 208) 82% , rgb(195, 11, 142) 83% , rgb(170, 184, 3) 83% , rgb(74, 31, 47) 84% , rgb(60, 107, 18) 85% , rgb(116, 184, 179) 86% , rgb(32, 45, 142) 87% , rgb(187, 237, 182) 88% , rgb(36, 100, 183) 89% , rgb(121, 220, 40) 90% , rgb(170, 216, 55) 91% , rgb(220, 113, 96) 92% , rgb(171, 75, 59) 93% , rgb(242, 220, 225) 94% , rgb(37, 49, 229) 95% , rgb(242, 52, 142) 96% , rgb(162, 19, 219) 96% , rgb(169, 156, 100) 97% , rgb(183, 27, 182) 98% , rgb(98, 228, 233) 99%);
background: -webkit-linear-gradient(left , rgb(153, 157, 248) , rgb(0, 0, 0) 1% , rgb(134, 130, 124) 1% , rgb(38, 71, 182) 2% , rgb(118, 50, 52) 3% , rgb(93, 44, 44) 4% , rgb(161, 216, 75) 5% , rgb(80, 177, 188) 6% , rgb(168, 107, 20) 6% , rgb(42, 183, 163) 7% , rgb(166, 117, 19) 8% , rgb(84, 0, 89) 9% , rgb(163, 46, 28) 10% , rgb(160, 147, 36) 11% , rgb(241, 213, 30) 12% , rgb(121, 147, 215) 12% , rgb(43, 110, 171) 13% , rgb(243, 92, 249) 14% , rgb(219, 111, 184) 15% , rgb(142, 181, 165) 16% , rgb(101, 159, 218) 17% , rgb(19, 151, 117) 18% , rgb(37, 222, 23) 19% , rgb(38, 92, 104) 20% , rgb(187, 45, 127) 21% , rgb(201, 73, 186) 22% , rgb(54, 177, 160) 23% , rgb(206, 77, 20) 24% , rgb(86, 114, 168) 24% , rgb(147, 220, 125) 25% , rgb(25, 161, 190) 26% , rgb(27, 124, 23) 27% , rgb(199, 154, 97) 28% , rgb(183, 16, 188) 29% , rgb(113, 18, 166) 29% , rgb(192, 145, 17) 30% , rgb(252, 175, 198) 31% , rgb(87, 78, 136) 32% , rgb(135, 212, 229) 33% , rgb(175, 193, 65) 33% , rgb(137, 71, 24) 34% , rgb(227, 173, 104) 35% , rgb(51, 4, 28) 36% , rgb(194, 201, 117) 37% , rgb(213, 130, 68) 38% , rgb(115, 234, 150) 39% , rgb(23, 74, 248) 40% , rgb(220, 216, 148) 41% , rgb(86, 138, 231) 42% , rgb(199, 3, 109) 43% , rgb(149, 215, 126) 44% , rgb(69, 184, 168) 45% , rgb(106, 230, 56) 46% , rgb(25, 67, 204) 46% , rgb(221, 233, 91) 47% , rgb(240, 207, 4) 48% , rgb(167, 175, 67) 49% , rgb(73, 172, 23) 50% , rgb(123, 106, 155) 51% , rgb(51, 140, 174) 52% , rgb(27, 205, 147) 53% , rgb(132, 4, 126) 54% , rgb(79, 6, 178) 55% , rgb(164, 172, 53) 56% , rgb(116, 173, 123) 57% , rgb(172, 140, 86) 58% , rgb(17, 2, 182) 59% , rgb(127, 127, 237) 60% , rgb(110, 245, 202) 61% , rgb(228, 167, 3) 62% , rgb(85, 222, 75) 63% , rgb(244, 222, 137) 64% , rgb(40, 148, 76) 65% , rgb(171, 90, 47) 66% , rgb(96, 90, 101) 67% , rgb(41, 216, 28) 68% , rgb(231, 168, 78) 69% , rgb(213, 142, 69) 70% , rgb(71, 23, 73) 71% , rgb(9, 81, 18) 72% , rgb(253, 184, 41) 73% , rgb(31, 5, 118) 74% , rgb(38, 221, 58) 75% , rgb(27, 137, 56) 76% , rgb(56, 245, 0) 77% , rgb(42, 167, 105) 78% , rgb(63, 21, 28) 79% , rgb(0, 0, 0) 80% , rgb(22, 74, 0) 80% , rgb(10, 232, 185) 81% , rgb(13, 223, 208) 82% , rgb(195, 11, 142) 83% , rgb(170, 184, 3) 83% , rgb(74, 31, 47) 84% , rgb(60, 107, 18) 85% , rgb(116, 184, 179) 86% , rgb(32, 45, 142) 87% , rgb(187, 237, 182) 88% , rgb(36, 100, 183) 89% , rgb(121, 220, 40) 90% , rgb(170, 216, 55) 91% , rgb(220, 113, 96) 92% , rgb(171, 75, 59) 93% , rgb(242, 220, 225) 94% , rgb(37, 49, 229) 95% , rgb(242, 52, 142) 96% , rgb(162, 19, 219) 96% , rgb(169, 156, 100) 97% , rgb(183, 27, 182) 98% , rgb(98, 228, 233) 99%);
}





